@{
    var app = ViewData["App"] as JogoModel;
    var dlcs = ViewData["Dlcs"] as List<JogoModel>;
    var jogoCompleto = ViewData["JogoCompleto"] as JogoModel;
    var demos = ViewData["Demos"] as List<JogoModel>;
}




<div class="container">

    <div class="col-3">
        <a class="btn btn-primary" asp-controller="Jogo" asp-action="Index">
            Voltar
        </a>
    </div>
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">
                @app?.Nome
            </h2>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-8">
                    <div class="row">
                        <div class="col-3">
                            App ID
                        </div>
                        <div class="col-5">
                            @app?.AppId
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            App Type
                        </div>
                        <div class="col-5">
                            @{
                                var tipoApp = app?.DetalhesJogo?.Tipo == "game" ? "Jogo" :
                                app?.DetalhesJogo?.Tipo == "dlc" ? "DLC" :
                                app?.DetalhesJogo?.Tipo == "music" ? "Trilha Sonora" :
                                app?.DetalhesJogo?.Tipo == "demo" ? "Demonstração" : app?.DetalhesJogo?.Tipo;
                                <div>@tipoApp</div>
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            Developer
                        </div>
                        <div class="col-5">
                            @if (app?.DetalhesJogo?.Desenvolvedor is not null) {
                                foreach (var developer in app.DetalhesJogo.Desenvolvedor) {
                                    <span>@developer</span>
                                }
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            Publisher
                        </div>
                        <div class="col-5">
                            @if (app?.DetalhesJogo?.Editor is not null) {
                                foreach (var publisher in app.DetalhesJogo.Editor) {
                                    <span>@publisher</span>
                                }
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            Sistemas Operacionais Suportados
                        </div>
                        <div class="col-5">
                            @{
                                int counter = 0;
                                string _texto = "";
                            }
                            @if (app?.DetalhesJogo?.Plataforma?.Windows is true) {
                                _texto += "Windows";
                                counter++;
                            }
                            @if (app?.DetalhesJogo?.Plataforma?.Mac is true) {
                                _texto += counter++ > 0 ? ", Mac" : "Mac";
                            }
                            @if (app?.DetalhesJogo?.Plataforma?.Linux is true) {
                                _texto += counter++ > 0 ? ", Linux" : "Linux";
                            }
                            <span>@_texto</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            Classificação Indicativa
                        </div>
                        <div class="col-5">
                            @if (app?.DetalhesJogo?.RecomendacaoEtaria is not null) {
                                @if (app?.DetalhesJogo?.RecomendacaoEtaria == "0") {
                                    <span>Livre</span>
                                } else {
                                    <span>@app?.DetalhesJogo.RecomendacaoEtaria</span>
                                }
                            } else {
                                <span>Não informado</span>
                            }
                            <span> - @app?.DetalhesJogo?.Classificacao?.Descricao</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            Preço
                        </div>
                        <div class="col-5">
                            @if (app?.DetalhesJogo?.DetalhesDoPreco is not null) {
                                <span>@app.DetalhesJogo.DetalhesDoPreco.PrecoFinalFormatado</span>
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            Generos
                        </div>
                        <div class="col-5">
                            @if (app?.DetalhesJogo?.Genero is not null) {
                                foreach (var genero in app.DetalhesJogo.Genero) {
                                    <span>@genero.Descricao</span>
                                    <br />
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <img class="rounded-20" src="@app?.DetalhesJogo?.ImagemPrincipal" />
                </div>
            </div>
        </div>
        <div class="row">
            <h2>Descrição</h2>
        </div>

        <div class="row" id="descricaoCurta">
            <p>
                @Html.Raw(app?.DetalhesJogo?.DescricaoCurta)
            </p>
            <div class="row">
                <button class="btn btn-primary" id="btnReadMore">Read More</button>
            </div>
        </div>
        <div class="row" id="descricaoDetalhada" hidden>
            <p>
                @Html.Raw(app?.DetalhesJogo?.DescricaoDetalhada)
            </p>
            <div class="row">
                <button class="btn btn-primary" id="btnReadLess">Read Less</button>
            </div>
        </div>


        @if (app?.DetalhesJogo?.Screenshot?.Count > 0 || app?.DetalhesJogo?.Filme?.Count > 0) {
            <div>
                <h2>Traillers e Screenshots</h2>
            </div>
            <div class="col-6 align-self-auto">
                <div id="screenshotCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner rounded-20">
                        <ol class="carousel-indicators">
                            @{
                                var j = 0;
                                if (app?.DetalhesJogo?.Filme is not null) {
                                    foreach (var filme in app.DetalhesJogo.Filme) {
                                        <li data-bs-target="#screenshotCarousel" data-bs-slide-to="@j" class="@(j == 0 ? "active" : "")"></li>
                                        j++;
                                    }
                                }
                                if (app?.DetalhesJogo?.Screenshot is not null) {
                                    foreach (var screenshot in app.DetalhesJogo.Screenshot) {
                                        <li data-bs-target="#screenshotCarousel" data-bs-slide-to="@j" class="@(j == 0 ? "active" : "")"></li>
                                        j++;
                                    }
                                }
                            }
                        </ol>
                        @{
                            var i = 0;
                            if (app?.DetalhesJogo?.Filme is not null) {
                                foreach (var filme in app.DetalhesJogo.Filme) {
                                    <div class="carousel-item @(i == 0 ? "active" : "")" data-bs-interval="600000">
                                        <video controls poster=@filme.Thumbnail class="d-block w-100">
                                            <source src="@filme.Mp4?._480" type="video/mp4" />
                                            Your browser does not support the video tag.
                                        </video>
                                    </div>
                                    i++;
                                }
                            }
                            if (app?.DetalhesJogo?.Screenshot is not null) {
                                foreach (var screenshot in app.DetalhesJogo.Screenshot) {

                                    <div class="carousel-item @(i == 0 ? "active" : "")">
                                        <a href="@screenshot.UrlImagemCompleta"><img src="@screenshot.UrlThumbnail" class="d-block w-100" alt="..."></a>
                                    </div>
                                    i++;
                                }
                            }
                        }
                    </div>
                    <a class="carousel-control-prev" role="button" data-bs-target="#screenshotCarousel" data-bs-slide="prev">
                        <span class="media-control-button">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        </span>
                        <span class="sr-only"></span>
                    </a>
                    <a class="carousel-control-next" role="button" data-bs-target="#screenshotCarousel" data-bs-slide="next">
                        <span class="media-control-button">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        </span>
                        <span class="sr-only"></span>
                    </a>
                </div>
            </div>
        }

        @if (tipoApp == "Jogo" && dlcs?.Count > 0) {
            <div>
                <h2>DLCs</h2>
            </div>
            <table class="table table-bordered table-striped">
                <tbody>
                    @{
                        var displayedDLCs = dlcs.OrderBy(u => u.Nome).Take(10).ToList();
                        var hiddenDLCs = dlcs.OrderBy(u => u.Nome).Skip(10).ToList();
                    }
                    @foreach (var dlc in displayedDLCs) {
                        <tr>
                            <td>
                                <a asp-controller="Jogo" asp-action="Detalhes" asp-route-id="@dlc.Id">
                                    <img src="@("https://cdn.cloudflare.steamstatic.com/steam/apps/"+dlc.AppId+"/capsule_sm_120.jpg")" onerror="this.onerror=null;this.src='/img/dummy_120x45.png';" />
                                </a>
                            </td>
                            <td><a asp-controller="Jogo" asp-action="Detalhes" asp-route-id="@dlc.Id">@dlc.Nome</a></td>
                        </tr>
                    }
                </tbody>
            </table>
            @if (hiddenDLCs.Any()) {
                <button id="seeMoreButton" class="btn btn-primary">@displayedDLCs.Count de @dlcs.Count mostrados. Ver todos</button>
                <table id="hiddenDLCsTable" class="table table-bordered table-striped" style="display: none;">
                    <tbody>
                        @foreach (var dlc in hiddenDLCs) {
                            <tr>
                                <td>
                                    <a asp-controller="Jogo" asp-action="Detalhes" asp-route-id="@dlc.Id">
                                        <img src="@("https://cdn.cloudflare.steamstatic.com/steam/apps/"+dlc.AppId+"/capsule_sm_120.jpg")" onerror="this.onerror=null;this.src='/img/dummy_120x45.png';" />
                                    </a>
                                </td>
                                <td><a asp-controller="Jogo" asp-action="Detalhes" asp-route-id="@dlc.Id">@dlc.Nome</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        }



        @if (demos is not null) {
            <div>
                <h2>Demonstrações</h2>
            </div>
            <table class="table table-bordered table-striped">
                <tbody>
                    @foreach (var demo in demos.OrderBy(u => u.Nome)) {
                        <tr>
                            <td>
                                <a asp-controller="Jogo" asp-action="Detalhes" asp-route-id="@demo.Id">
                                    <img src="@("https://cdn.cloudflare.steamstatic.com/steam/apps/"+demo.AppId+"/capsule_sm_120.jpg")" onerror="this.onerror=null;this.src='/img/dummy_120x45.png';" />
                                </a>
                            </td>
                            <td><a asp-controller="Jogo" asp-action="Detalhes" asp-route-id="@demo.Id">@demo.Nome</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        }

        @if (jogoCompleto is not null) {
            <div>
                <h2>Jogo Completo</h2>
            </div>
            <table class="table table-bordered table-striped">
                <tbody>
                    <tr>
                        <td>
                            <a asp-controller="Jogo" asp-action="Detalhes" asp-route-id="@jogoCompleto.Id">
                                <img src="@("https://cdn.cloudflare.steamstatic.com/steam/apps/"+jogoCompleto.AppId+"/capsule_sm_120.jpg")" onerror="this.onerror=null;this.src='/img/dummy_120x45.png';" />
                            </a>
                        </td>
                        <td><a asp-controller="Jogo" asp-action="Detalhes" asp-route-id="@jogoCompleto.Id">@jogoCompleto.Nome</a></td>
                        <td><a asp-controller="Jogo" asp-action="Detalhes" asp-route-id="@jogoCompleto.Id">@jogoCompleto.DetalhesJogo?.DetalhesDoPreco?.PrecoFinalFormatado</a></td>
                    </tr>
                </tbody>
            </table>
        }
    </div>
</div>


<script>
    document.getElementById("btnReadMore").addEventListener("click", function () {
        document.getElementById("descricaoCurta").hidden = true;
        document.getElementById("descricaoDetalhada").hidden = false;
    });
    document.getElementById("btnReadLess").addEventListener("click", function () {
        document.getElementById("descricaoCurta").hidden = false;
        document.getElementById("descricaoDetalhada").hidden = true;
    });
    document.getElementById('seeMoreButton').addEventListener('click', function () {
        document.getElementById('seeMoreButton').style.display = 'none';
        document.getElementById('hiddenDLCsTable').style.display = 'table';
    });
</script>