@{
    List<JogoModel>? jogos = ViewBag.Jogos;
}

@if (ViewBag.SearchTerm is not "") {
    <script>
        document.getElementById('searchTerm').value = '@ViewBag.SearchTerm';
    </script>
}

@if (ViewBag.DboJogosVazio) {
    <div class="alert alert-warning" role="alert">
        Nenhum Jogo encontrado na base de dados
    </div>
    <div>
        <a class="btn btn-primary disable-button-on-click" asp-controller="Jogo" asp-action="RecuperarJogos">
            Baixar jogos da Steam (~1 minuto)
        </a>
    </div>
} else if (!jogos.Any()) {
    <div class="alert alert-warning" role="alert">
        Nenhum Jogo encontrado com o termo de pesquisa "@ViewBag.SearchTerm"
    </div>
} else {
    <div class="container">
        <div class="row pt-4 pb-3">
            <div class="col-6">
                @if (ViewBag.SearchTerm == "") {
                    <h2 class="text-primary">Lista de Jogos</h2>
                } else {
                    <h2 class="text-primary">Lista de Jogos com o termo "@ViewBag.SearchTerm"</h2>
                }
            </div>
        </div>
        <div class="pagination col-12 justify-content-center">
            @ViewBag.Pagination
        </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Jogos</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var _jogo in jogos.OrderBy(u => u.Nome)) {
                    <tr>
                        <td>
                            <a asp-controller="Jogo" asp-action="Detalhes" asp-route-id="@_jogo.Id">
                                <img src="@("https://cdn.cloudflare.steamstatic.com/steam/apps/"+_jogo.AppId+"/capsule_sm_120.jpg")" onerror="this.onerror=null;this.src='/img/dummy_120x45.png';" />
                            </a>
                        </td>
                        <td><a asp-controller="Jogo" asp-action="Detalhes" asp-route-id="@_jogo.Id">@_jogo.Nome</a></td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="pagination col-12 justify-content-center">
            @ViewBag.Pagination
        </div>
    </div>
    <div>
        <form action="@Url.Action("ChangePageSize", "Jogo")" method="post">
            <label for="pageSizeDropdown">Entradas por página:</label>
            <select id="pageSizeDropdown" name="pageSize" onchange="this.form.submit()">
                <!option value="10" @(ViewBag.PageSize == 10 ? "selected" : "")>10</!option>
                <!option value="25" @(ViewBag.PageSize == 25 ? "selected" : "")>25</!option>
                <!option value="50" @(ViewBag.PageSize == 50 ? "selected" : "")>50</!option>
                <!option value="100" @(ViewBag.PageSize == 100 ? "selected" : "")>100</!option>
                <!option value="500" @(ViewBag.PageSize == 500 ? "selected" : "")>500</!option>
            </select>
            <input type="hidden" name="searchTerm" value="@ViewBag.SearchTerm" />
        </form>
    </div>
}


