@model List<JogoModel>

@if (Model.Count == 0) {
    <div class="alert alert-warning" role="alert">
        Nenhum Jogo encontrado.
    </div>
    <div class="col-3 text-end">
        <a class="btn btn-primary disable-button-on-click" asp-controller="Jogo" asp-action="RecuperarJogos">
            Sincronizar com a Steam (~1 minuto)
        </a>
    </div>
} else {
    <div class="container">
        <!-- Ainda nao implementado -->
        <!--<div class="col-3 text-end">
            <a class="btn btn-primary disable-button-on-click" asp-controller="Jogo" asp-action="GetAppPrices">
                Baixar Preços (~1 minuto)
                </div>
           </a>-->

        <div class="row pt-4 pb-3">
            <div class="col-6">
                <h2 class="text-primary">
                    Lista de Jogos
                </h2>
            </div>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Jogos</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var _jogo in Model.OrderBy(u => u.Nome)) {
                    <tr>
                        <td>
                            <a asp-controller="Jogo" asp-action="Detalhes" asp-route-id="@_jogo.Id">
                                <img src="@("https://cdn.cloudflare.steamstatic.com/steam/apps/"+_jogo.AppId+"/capsule_sm_120.jpg")" onerror="this.onerror=null;this.src='/img/dummy_120x45.png';" />
                            </a>
                        </td>
                        <td><a asp-controller="Jogo" asp-action="Detalhes" asp-route-id="@_jogo.Id">@_jogo.Nome</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div>
        <form action="@Url.Action("ChangePageSize", "Jogo")" method="post">
            <label for="pageSizeDropdown">Entries per page:</label>
            <select id="pageSizeDropdown" name="pageSize" onchange="this.form.submit()">
                <!option value="10" @(ViewBag.PageSize == 10 ? "selected" : "")>10</!option>
                <!option value="25" @(ViewBag.PageSize == 25 ? "selected" : "")>25</!option>
                <!option value="50" @(ViewBag.PageSize == 50 ? "selected" : "")>50</!option>
            </select>
        </form>
    </div>

    <div>
        @if (ViewBag.Page > 1) {
            <a href="@Url.Action("Index", "Jogo", new { page = ViewBag.Page - 1, pageSize = ViewBag.PageSize })">Previous</a>
        }

        @if (ViewBag.Page < ViewBag.TotalPages) {
            <a href="@Url.Action("Index", "Jogo", new { page = ViewBag.Page + 1, pageSize = ViewBag.PageSize })">Next</a>
        }
    </div>
    <span>Page @ViewBag.Page / <a href="@Url.Action("Index","Jogo", new { page=ViewBag.TotalPages,pageSize = ViewBag.PageSize})">@ViewBag.TotalPages</a></span>

}


