@{
    ViewData["Title"] = "Usurários";
    List<Usuario> usuarios = ViewBag.listaUsuarios;
    Usuario _usuario = new Usuario();
}

<h1>DASHBOARD USUARIOS</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => _usuario.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => _usuario.NomeDeUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => _usuario.Senha)
            </th>
            <th>
                @Html.DisplayNameFor(model => _usuario.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => _usuario.DataNascimento)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in usuarios) {
            <tr>
                <td>@usuario.Nome</td>
                <td>@usuario.NomeDeUsuario</td>
                <td>@usuario.Senha</td>
                <td>@usuario.Email</td>
                <td>@usuario.DataNascimento.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>
